/* #docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
} */

.container {
  border: 1px solid var(--accent);
  max-height: 400px;
  overflow: auto;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 6px 8px;
  display: flex;
}

.trigger {
  margin: 0 0 20px 0;
}


